<div class= "sign_form">
	
	<%if @usuario.errors.any?%>
		<ul class= "Signup_Errors">
			<%for message_error in @usuario.errors.full_messages%>
				<li>* <%=message_error%></li>
			<%end%>
		</ul>
	<%end%>

	<%= form_for([:administrador, @usuario]) do |f|%>
		<p> Usuario: </br><%=f.text_field :nombre_usuario%></p>
		<p> Contrasena: </br><%=f.password_field :contrasena%></p>
		<p> Confirmar contrasena: </br> <%=f.password_field :confirmacion_contrasena%></p>
		<p> Nombres: </br><%=f.text_field :nombre%></p>
		<p> Apellidos: </br><%=f.text_field :apellido%></p>
		

		<%=f.submit "Salvar Usuario"%>
		
		<%= link_to '<button type="button" class="btn btn-primary">Regresar</button>'.html_safe, administrador_usuarios_path %>
	<%end%>

</div>