<table class="table table-condensed">
  <thead>
    <tr>
      <th> NOMBRE USUARIO</th>
      <th> USUARIO</th>
      <th> APELLIDO</th>
    </tr>
  </thead>
  <%@usuarios.each do |usuario|%>
    <tbody>
      <tr>
        <td><%=usuario.nombre_usuario%></td>
        <td><%=usuario.nombre%></td>
        <td><%=usuario.apellido%></td>
        <td><%=link_to "Ver", administrador_usuario_path(usuario.id)%></td>
        <td><%=link_to "Editar", edit_administrador_usuario_path(usuario.id)%></td>
        <td><%=link_to "Eliminar", administrador_usuario_path(usuario.id), class: 'btn btn-danger bt-sm',:confirm=>"seguro desea eliminar el usuario", :method =>:delete%></td>
	  </tr>
    </tbody>
  <%end%>
</table>
<%=link_to 'Nuevo usuario', new_administrador_usuario_path%>




